[user]
	email = pierre-luc.manteaux@circle.dental
	name = Pierre-Luc Manteaux
[status]
	submoduleSummary = false
[core]
	excludesfile = ~/.gitignore_global
    editor = 'nvim'
[pull]
	rebase = true
[merge]
	ff = no
[push]
	default = current
[includeIf "gitdir:~/repositories/personnal/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:~/repositories/bluff/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:~/repositories/dotfiles/"]
    path = ~/.gitconfig-personal
