[user]
	email = pierre-luc.manteaux@circle.dental
	name = Pierre-Luc Manteaux
[interactive]
    diffFilter = delta --color--only
[delta]
    side-by-side = true
    navigate = true # use n and N to move betweend diff sections
[status]
	submoduleSummary = false
[core]
	excludesfile = ~/.gitignore_global
    editor = 'nvim'
    pager = delta
[pull]
	rebase = true
[merge]
	ff = no
    conflictstyle = diff3
[diff]
    colorMoved = default
[push]
	default = current
[includeIf "gitdir:~/repositories/personnal/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:~/repositories/bluff/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:~/repositories/dotfiles/"]
    path = ~/.gitconfig-personal
